:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --Font-Monserrat: 'Montserrat', sans-serif;
    --Font-Fraunces: 'Fraunces', serif;

    --paragraph-font-size: 14px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--Font-Monserrat);
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    background-color: var(--Cream);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 35px);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-family: var(--Font-Fraunces);
}

h1,
h2,
p,
span {
    font-family: var(--Font-Monserrat);
}

/** container **/
.container {
    width: 580px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--White);
}

.container__imagebox {
    flex: 1 1 45%;
}

.container__imagebox img {
    height: 100%;
    object-fit: cover;
}

.container__context {
    flex: 1 0 50%;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.container__context__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    margin: 10px 0;
    font-family: var(--Font-Monserrat) !important;
}

.container__context__title {
    font-family: var(--Font-Fraunces);
    font-size: 34px;
    margin: 5px 0;
}

.container__context__text {
    font-size: 14px;
    margin: 5px 0;
    color: var(--Dark-grayish-blue);
}

.container__context__textgroup {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__context__title--green {
    color: var(--Dark-cyan);
    font-family: var(--Font-Fraunces);
    font-size: 34px;
    margin: 5px 10px 5px 0;
}

.container__context__text--striked {
    font-size: 14px;
    color: var(--Dark-grayish-blue);
}

.container__context__cartbutton {
    background-color: var(--Dark-cyan);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container__context__cartbutton:hover {
    background-color: var(--Very-dark-blue);
}

.container__context__cartbutton img {
    margin: 0 10px;
}

.container__context__cartbutton span {
    font-weight: 700;
    color: var(--White);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 15px 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .container__context {
        flex: 1 0 50%;
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
    }
}